body {
  margin: 0;
}

/* App div */

.App {
  background-image: linear-gradient(to right top, #386ebe, #4d80ce, #6793d7, #80a7df, #9abbe7);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: 1s ease infinite;
}

/* Typography */ 

h1, h2, h3, p {
  margin: 0;
}

/* unsorted */

#header-div, 
#weather-summary-div,
#daily-weather-div, 
#footer-div {
  box-sizing: border-box;
  padding: 1em;
}

#header-div {
  display: flex;
  align-items: center;
  background: #6793d7;
  width: 100%;
  height: 30px;
}

  #openedMenuIcon {
    width: 5%;
  }

#weather-summary-div {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  color: #FFFFFF;
  
  text-shadow: 0px 0px 20px rgb(111, 129, 150);
}

  #current-weather-div {
    width: auto;
    margin: 2em 1em 0 1em;
  }

    #weather-summary-row-one {
      display: flex;
      align-items: end;
      font-size: 1.5rem;
      margin-bottom: -15px;
    }

    #weather-summary-row-two {
      display: flex;
      align-items: center;
      font-size: 2rem;
    }

      #current-temperature-unit {
        font-size: 1.5rem;
        margin-top: 15px;
        font-size: 2.5rem;
      }

      #weather-icon {
        width: 100px;
        margin-left: 0.5em;
        margin-bottom: -12.5px;
      }
      
    #weather-summary-row-three {
      display: flex;
      margin-top: -5px;
    }
    
      #weather-description-text {
        font-size: 1rem;
      }

    #weather-summary-row-four {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      margin-top: 0.75em;
    }
  
      #min-max-temp-text {
        color: lightgrey;
      }

    #weather-summary-row-five {
      display: flex;
      align-items: end;
      margin-top: 7.5em;
      width: 100%;
    }
      
      #sunrise-text {
        margin-left: 0.25em;
        margin-right: 1em;
      }

      #sunset-text {
        margin-left: 0.25em;
      }

      .sunrise-sunset-icon {
        width: 48px;
      }

#forecast-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0 2em;
}
  
  #daily-header, #hourly-header {
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-top: 0.75em;
  }

  #daily-forecast-div, #hourly-forecast-div {
    display: flex;
    margin-top: 0.75em;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    gap: 1em;
    color: #FFFFFF;
    max-height: 150px;
    padding-bottom: 10px;
    scrollbar-width: auto;
    scrollbar-color: rgb(218, 218, 218) rgba(0, 0, 0, 0.1);
  }

    .weather-entry-div {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex: 0 0 auto;
      align-items: center;
      width: min-content;
      min-width: 50px;
      border-radius: 16px;
      max-height: 150px;
      background: rgba(0, 0, 0, 0.1);
      padding: 0.5em
    }
    
      .weather-entry-icon {
        width: 100%;
      }

/* 
  #daily-forecast-div {
    width: 100%;
    height: 10%;
  } */

#footer-div {
  /* background: slategrey; */
  height: 5%;
}
